md_file/*
!md_file/.gitkeep
out/*
!out/.gitkeep
urls/*
!urls/.gitkeep



__pycache__/
*.py[cod]
*$py.class

venv/
.env/
.venv/
env/
pip-log.txt
pip-delete-this-directory.txt

.idea/
*.iml
*.ipr
*.iws

*.log
*.out
*.err
*.sqlite3
*.db

.tox/
.nox/
.coverage
htmlcov/
.cache/
pytest_cache/

